{% extends 'base.html.twig' %}
{% set Title="Titre Homepage" %}

{% block title %}{{ Title }} - {{ parent() }}{% endblock %}




{% block body %}

<style>
    /* body{ */
        /* src="{{ asset('images/meteor-shower.jpg') }}" */
/* background-image: url({{ asset('bckgrd_portfolio_birolini_herve.png') }}); */
/**/
/* background-repeat: no-repeat; */
/* background-size: cover; */
/* background-attachment: fixed; */
/* background-position: center center ; */
    /* } */
</style>

<div class="container">

    <p>Balises IMG, SRC dans <b>HTML.TWIG</b> :</p>
    <div class="d-flex flex-row">
        <div class="d-flex flex-column col-6">        
            <label for="">... fichier image dans ASSETS...</label>
            <img class="TestImg1" src="{{ asset('../assets/img/bckgrd_portfolio_birolini_herve.png') }}" alt="">
        </div>
        <div class="d-flex flex-column col-6">        
            <label for="">... fichier image dans BUILD...</label>
            <img class="TestImg2" src="{{ asset('build/images/bckgrd_portfolio_birolini_herve.png') }}" alt="">
        </div>
    </div>
    
    <br><br>
    <p>Balises DIV, background dans <b>CSS</b> :</p>
    <div class="d-flex flex-row">
        <div class="d-flex flex-column col-6">        
            <label for="">... fichier image dans ASSETS...</label>
            <div id="TestImg1"></div>
        </div>
        <div class="d-flex flex-column col-6">        
            <label for="">... fichier image dans BUILD...</label>
            <div id="TestImg2" style="background-image: url({{ asset('build/images/bckgrd_portfolio_birolini_herve.png')}})"></div>
        </div>
    </div>

</div>

{% endblock %}
